:root {
  --black: #0F0F0F;
  --light-black: #1E1E1E;
  --white: #FFFFFF;
  --light-grey: #BEBEBE;
  --grey: #4F4F4F;
  --dark-grey: #323232;
  --background: #fff;
  --foreground: #000;
  --divider: #dcdcdc;
  --overlay: rgb(36, 36, 36);
  --nav-color: #E8E8E8;
  --header-background: rgba(15, 15, 15, 0.4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --divider: #333;
  }
}
